src/main/mule/poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2e770538-606f-4ca3-bb07-03e27f05cefa" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pocFlow" doc:id="9cba7574-7288-417c-a890-3377023f5c7b" >
		<http:listener doc:name="Listener" doc:id="f036348d-7258-4cee-8eb0-293968c56fce" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="4607bcf3-c8ec-4553-ae19-495700c8aa6e" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="b51589e4-7276-4b66-9852-eeb5914367dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload reduce (item, accumulator) -> item + accumulator]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
